* {
    font-family: 'Work Sans', sans-serif;
}

header {
    background-image: url('../images/banner/banner1.png');
    width: 1600px;
    height: 808px;
    flex-shrink: 0;
    text-align: right;
}

.banner {
    color: var(--Dark-01, #151414);
    font-size: 65px;
    font-weight: 700;
    padding: 216px 230px 0px 845px;
}

.banner-content {
    color: var(--Dark-02, #444343);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding: 0px 230px 0px 876px;
}

header>button {
    border-radius: 5px;
    background: #F15B22;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    width: 160px;
    height: 64px;
    flex-shrink: 0;
    margin: 0px 230px 0px 876px;
}

main {
    background-image: url('../images/person.png');
    background-repeat: no-repeat;
    text-align: right;
    background-position: 206px 140px;
    padding-bottom: 120px;
}

.main-title {
    color: var(--Dark-01, #151414);
    font-size: 40px;
    text-align: left;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 370px 450px 0px 896px;
}

.main-content {
    color: var(--Dark-02, #444343);
    font-size: 16px;
    text-align: left;
    font-weight: 400;
    line-height: 26px;
    padding: 0px 322px 0px 896px;
}

main>ul {
    color: var(--Dark-02, #444343);
    font-size: 16px;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    list-style-type: none;
    padding: 0 0 0 896px;
}
main li{
    display: flex;
}